@import url('https://fonts.googleapis.com/css2?family=Inika&family=Architects+Daughter&display=swap');
/*deptBox*/
.branch-container{
    position: relative;
    background: transparent;
    height: 100%;
    width: 70vh;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Architects Daughter';
    color: #3c1361;
    top: 50px;
}
.branch-container p{
  font-family: 'Architects Daughter';
}
.branch-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
}
.branch-container li{
    list-style: none;
}
.branch-container button{
    margin-bottom: 20px;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: none;
    background-color: #9d88af;
    font-family: 'Architects Daughter';
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.branch-container i{
  font-size: 90px;
}
.branch-container button:hover {
    background: #978897;
    border-radius: 25px;
    transform: scale(1.1);
    cursor: pointer;
  }
/*display*/
.display{
    background-color: #d8d8f6;
    width: 68%;
    margin-left: 20px;
    margin-top: 10px;
    height: 100vh;
    border-radius: 25px;
    position: absolute;
    top: 75px;
    display: flex;
    flex-direction: column;
}
.lines{
  background-color: #d8d8f6;
  position: relative;
  top: 0px;
  left: 25px;
  width: 85%;
  height: 30%;
  margin-top: 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.lines h3{
  position: relative;
  margin-top: 10px;
  font-size: 30px;
  color: #3c1361;
  background-color: #d8d8f6;
  margin-bottom: 0px;
  font-family: 'Inika',serif;
}
.lines p{
  font-size: 20px;
  position: relative;
  margin-top: 0px;
  background-color: #d8d8f6;
  font-family: 'Architects Daughter';
}
.book-scroll {
  margin-top: 0px;
  width: 100%;
  position: relative;
  
}
.book-scroll p{
  
  margin-bottom: 1px;
  margin-top: 0%;
}
.book-card {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  height: 280px;
  background-color: white;
}
.book-card h4{
  font-family: 'Inika';
}
.book-card p {
  margin-top: 0;
  font-size: medium;
  font-family: 'Architects Daughter';
  
}

.popular-book-img {
  background-color: #9d88af;
  width: 120px;
  height: 150px;
  margin: 0 auto 10px;
}

.book-card:hover{
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slick-slide > div {
  margin: 0 4cqb 2cqb 3cqb;
}

@media (max-width: 991px) {
  .branch-container{
    top: 100px;
  }
}
.NAVBAR {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin-top: auto;
}


/*bookDetails*/
.book-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d8d8f6;
  min-height: 100vh; 
  padding: 20px; 
}
.book-details {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  font-family: 'Architects Daughter';
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  transform: translateY(60%);
}

.book-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
  
}

.book-details .info {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.book-details .info div{
  width: 40%;
  margin-left: 0%;
}
.book-details .info p {
  margin-bottom: 8px;
  font-family: 'Architects Daughter';
}

.book-details .info strong {
  font-weight: bold;
}

.book-details .info p:last-child {
  margin-bottom: 0;
}
.book-img{
  width: 40%;
  background: transparent;
  margin-right: 25px;
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center;
}
.bookImg{
  margin: 23px;
  width: 90%;
  height: 80%;
}
.book-btn{
  height: 40px;
  width: 100px;
  background-color: #9d88af;
  border-radius: 25px;
  border: none;
  font-family: 'Architects Daughter';
  font-size: 23px;
}
.book-btn:hover{
  cursor: pointer;
}
#issue:hover{
  transform: scale(1.2);
}
.review-box{
  
  margin-top: 150px;
  margin-right: auto;
  width: 100%;
  transform: translateY(39%);
}
.output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.output li{
  background-color: #9d88af;
  width: 65vw;
  border-radius: 5px;
  border: none;
  margin-left: 0px;
}
.output h2{
  font-family: 'Inika';
  font-size: 25px;
  margin-bottom: 0;
}
.output p{
  font-family: 'Architects Daughter';
  list-style: none;
  font-size: 18px;
  margin:auto;
  
}
.input-review{
  display: flex;
  flex-direction: column;
  background-color: #d8d8f6;
  border-style: outset;
  border-radius: 5px;
}
.input-review p{
  font-family: 'Inika';
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.input-review .review{
  font-size: 20px;
  font-family: 'Architects Daughter';
  margin-top: 0;
  margin-left: 10px;
  
}
.input-review textarea{
  width: 60%;
  min-height: 50px;
  border-radius: 15px;
  background-color: #fff;
  margin-left: 20px;
  font-family: 'Architects Daughter';
}
.input-review button{
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  transform: translateX(150%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: 'Architects Daughter';
  font-size: 16px;
  color: #3c1361;
  background-color: #9d88af;
}
.input-review button:hover{
  background-color: #fff;
}
.star-rating {
  display: flex;
  flex-direction: row;
 
}

.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 10px ;
  width: 20px;
}
.star-rating button:hover{
  background:none;
  
}
.star {
  font-size: 30px;
  color: #ddd;
  transition: color 0.2s;
}

.star-rating .on .star {
  color: #3c1361;
}

.star-rating .off .star {
  color: #9d88af;
}


  /*deptBooks issued books*/
  .books {
    position: relative;
    background: transparent;
    padding: 20px;
    margin: 20px;
    font-family: 'Arial', sans-serif;
    max-height: 70vh; 
    overflow-y: auto;
    width: 70vw; 
    top: 0; 
    left: 10%;
    overflow:  visible;
    z-index: 0;

}

.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
    list-style-type: none; 
    padding: 0; 
    
}

.books h2 {
    color: #343a40;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Inika', serif;
}

.books li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Architects Daughter';
    height: 240px;
    font-size: 18px;
    width: 45%; 
    margin: 10px; 
    padding: 10px; 
}

  
  .books li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .books h2 a {
    color: #007bff;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  .books h2 a:hover {
    text-decoration: underline;
  }
  
  .books p {
    margin:  0;
    color: #6c757d;
    font-size: 18px;
    padding: 0 0 0 10px;
    font-family:'Architects Daughter';
  }
  .navigation{
    position: absolute;
    top: 85px;
    left: 20px;
  }
  .nav-btn{
    font-family:'Architects Daughter';
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .nav-btn:hover{
    text-decoration: underline;
  }
  
  .search-results {
    width: 80%;
    margin: 20px auto; 
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    max-height: 70vh; 
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  .search-results::-webkit-scrollbar {
    display: none; 
  }
  
  
  .search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Architects Daughter';
  }
  
  .search-results li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .search-results h3 {
    margin: 0 0 10px;
    font-size: 22px;
    color: #333;
  }
  
  .search-results p {
    margin: 0;
    color: #666;
    font-size: 18px;
    font-family: 'Architects Daughter';
  }
  
  .search-results a {
    text-decoration: none;
    color: #007bff; 
  }
  
  .search-results a:hover {
    text-decoration: underline;
  }
  
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  .none{
    background-color: #d8d8f6;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    transform: translateY(-50%);
    
  }
  .none p{
    font-family: 'Architects Daughter';
    font-size: 35px;
  }
  .none i{
    font-size: 80px;
    color: #3c1361;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .return-home{
    width: 200px;
    height: 40px;
    color: white;
    background-color:#3c1361;
    border: none;
    font-family: 'Architects Daughter';
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
  }

  .return-home:hover {
    background: #9d88af;
    border-radius: 5px;
    transform: scale(1.1);
  }

  .not-found{
    background-color: #d8d8f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
  }
  .not-found p{
    color: #3c1361;
    font-size: 25px;
    margin-top: 0;
    transform: translateY(-80%);
  }
  #return-btn{
    background-color: #9d88af;
    border: none;
    width: 25%;
    height: 15%;
    border-radius: 25px;
    font-family: 'Architects Daughter';
    font-size: 18px;
    transform: translateX(150%);
  }
